.jass-vehicles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jass-vehicles-wrapper{
    width: 100%;
    max-width: 1200px;
}
.jass-vehicles-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.jass-vehicles-button{
    text-decoration: none;
    color: white;
    padding: 0.5em 0.7em;
    border-radius: 5px;
    border: none;
    font-size: 0.8em;
    font-weight: 100;
    cursor: pointer;
}
.jass-vehicles-button.blue{
    background-color: blue;
}
.jass-vehicles-button.green{
    background-color: green;
}
.jass-vehicles-button.red{
    background-color: red;
}
.jass-vehicles-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    color: #1d315a;
}
.jass-vehicles-card{
    display: flex;
    flex-direction: column;
    position: relative;
}
.jass-vehicles-imgs.inactive{
    filter: opacity(0.5);
}
.jass-vehicles-infos{
    border: 1px solid #1d315a;
    border-top: none;
    padding: 1em 1.4em;
    gap: 1em;
    display: flex;
    flex-direction: column;
}
.jass-vehicles-infos.inactive{
    filter: opacity(0.5);
}
.jass-vehicles-infos p{
    line-height: 1.4em;
}
.jass-vehicles-equipments{
    margin: 0;
}
.jass-vehicles-guarantee{
    font-weight: bold;
    margin: 0;
}
.jass-vehicles-edit{
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    z-index: 100;
}
.jass-vehicles-activate{
    margin: 1em 0;
}
.jass-vehicles-editbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.jass-vehicles-details{
    display: flex;
    flex-direction: row;
    gap: 1em;
    
}
#jass-image-upload{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}
#jass-image-upload.show{
    display: flex;
}
.jass-image-wrapper{
    padding: 2em;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
#jass-image-cancel{
    font-size: 0.9em;
    text-decoration: underline;
    cursor: pointer;
}
.jass-vehicles-images-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.jass-vehicles-images{
    position: relative;
    flex: 1;
}
.jass-vehicles-imgs{
    position: relative;
}
.jass-img-plus{
    position: absolute;
    bottom: 10px;
    right: 5px;
    background: lightgrey;
    padding: 0.4em 0.2em 0.2em;
    border-radius: 5px;
}
.jass-form-fields > div{
    display: flex;
    flex-direction: column;
}
.jass-vehicles-image{
    position: relative;
}
.jass-remove-image{
    position: absolute;
    top: 2px;
    right: 2px;
}
.swiper{
    max-width: 400px;
    height: 250px;
}
.jass-form-actus{
    flex: 2;
}