body{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    margin: 0;
    overflow-x: hidden;
}
.fnt-landing{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}
.fnt-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#logo-f-new-trucks{
    position: absolute;
    top: 0;
    left: 3%;
    width: 25%;
}
#carte-france{
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 20%;
    max-height: 33vh;
}
#carte-departements{
    position: absolute;
    right: -20px;
    bottom: 40px;
    max-width: 35%;
    max-height: 75vh;
}
.fnt-cta{
    position: absolute;
    left: 3%;
    bottom: 20px;
}
.fnt-cta a{
    color: white;
    text-decoration: none;
    background-color: #ED6227;
    padding: 12px 12px 10px;
    border-radius: 5px;
    border: 2px solid #ED6227;
    transition: all 0.3s;
}
.fnt-cta a:hover{
    background-color: transparent;
}
.fnt-cta h1{
    color: white;
    font-size: 40px;
    line-height: 48px;
    margin-top: 52px;
}

.fnt-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, #ED6227 0%, #ED6227 50%, #1d315a 50%, #1d315a 100%);
}
.fnt-contact-title{
    text-align: center;
    color: #1d315a;
    margin: 46px 0;
}
.fnt-contact-title h2{
    font-size: 32px;
    margin: 16px 0 0;
}
.fnt-contact-title p{
    font-weight: 100;
    font-size: 18px;
}
.fnt-departements{
    display: flex;
    color: white;
    width: 100%;
    max-width: 1400px;
}
.fnt-col1{
    flex: 1;
    padding: 3% 8% 3% 0;
    transition: all 1s;
    transform: translateX(-2em);
    opacity: 0;
}
.fnt-col1.show, .fnt-col2.show{
    transform: translateX(0);
    opacity: 1;
}
.fnt-col2{
    flex: 1;
    padding: 3% 0 3% 8%;
    transition: all 1s;
    transform: translateX(2em);
    opacity: 0;
}
.fnt-col1 h3, .fnt-col2 h3{
    margin-bottom: 5px;
    font-size: 26px;
    position: relative;
    max-width: fit-content;
}
.fnt-col1 h3::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #1d315a;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.fnt-col2 h3::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ED6227;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.fnt-col1 h4{
    text-transform: uppercase;
    margin: 2em 0 1em;
    color: #1d315a;
    font-size: 24px;
}
.fnt-col2 h4{
    text-transform: uppercase;
    margin: 2em 0 1em;
    color: #ED6227;
    font-size: 24px;
}
.fnt-col1 h5, .fnt-col2 h5{
    margin: 0;
    font-size: 22px;
}
.fnt-col1{
    background-color: #ED6227;
}
.fnt-col1 hr{
    height: 3px;
    width: 150px;
    background-color: #1d315a;
    border: none;
    margin: 0;
}
.fnt-col2{
    background-color: #1d315a;
}
.fnt-col2 hr{
    height: 3px;
    width: 150px;
    background-color: #ED6227;
    border: none;
    margin: 0;
}
.fnt-midcol{
    width: 15%;
    background: linear-gradient(115deg, #ED6227 0, #ED6227 48%, white 48%, white 51%, #1d315a 51%, #1d315a 100%);
}
.fnt-av-commerce{
    display: flex;
    justify-content: space-between;
}
.fnt-av-commerce a{
    color: white;
    text-decoration: none;
}
.fnt-av-commerce p{
    font-weight: 100;
    font-size: 18px;
    line-height: 26px;
    margin-top: 7px;
    letter-spacing: 0.4px;
}
.fnt-logo{
    width: 130px;
}
.fnt-footer{
    display: flex;
    justify-content: center;
}
.fnt-footer ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 0.4px;
    margin-bottom: 0;
}
.fnt-footer a{
    color: white;
    text-decoration: none;
}
.fnt-logo-last{
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 1000;
}


.fnt-mentions{
    margin: 0 32px;
}
.fnt-mentions h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
}

/* ------------------------ */

img{
    max-width: 100%;
}
header{
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
    z-index: 1000000;
}
.headerWrapper{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
}
.headerMenu{
    align-self: end;
}
.headerMenu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    margin-bottom: 0.6em;
}
.headerMenu a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
}
.headerMenuArrow{
    transform: rotateZ(90deg);
    transition: all 0.3s;
}
.headerMenu a:hover .headerMenuArrow{
    transform: rotateZ(0);
}
/*
.headerMenu a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: all 0.3s;
}
.headerMenu a:hover::after{
    width: 100%;
}
*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.footerWrapper{
    width: 100%;
    max-width: 1400px;
    position: relative;
    padding: 4em 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-weight: 100;
    line-height: 1.2em;
}
.footerWrapper > div:nth-child(1), .footerWrapper > div:nth-child(2){
    flex: 2;
}
.footerWrapper > div:nth-child(3){
    flex: 1;
}
.footerLogo{
    color: white;
    letter-spacing: 0.4px;
}
.footerLogo p, 
.fb-page{
    align-self: center;
}
.homeTop{
    position: relative;
}
.homeTopOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeTopWrapper{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.homeTopWrapper h1{
    color: white;
    font-size: 3.4em;
    line-height: 1.4em;
    font-weight: bold;
    animation: homeTitle 2s;
}
.homeTopWrapper h1 span{
    font-weight: 400;
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.homeTopButtons{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 100;
    transition: all 0.3s;
    padding: 0.5em 0.3em 0.5em 0.5em;
    letter-spacing: 0.6px;
    width: fit-content;
    cursor: pointer;
}
.btn span{
    margin-top: 2px;
}
.btnOrange{
    background-color: #f36b34;
    color: white;
    border: 2px solid #f36b34;
}
.btnOrange img{
    filter: brightness(0) invert(1);
}
.btnOrange:hover{
    background-color: transparent;
    color: #f36b34;
}
.btnOrange:hover img{
    filter: brightness(1) invert(0);
}
.btnOrange2{
    background-color: #f36b34;
    color: white;
    border: 2px solid #f36b34;
}
.btnOrange2 img{
    filter: brightness(0) invert(1);
}
.btnOrange2:hover{
    scale: 1.1;
}
.btnTransparent{
    background-color: transparent;
    color: #f36b34;
    border: 2px solid #f36b34;
}
.btnTransparent:hover{
    background-color: #f36b34;
    color: white;
}
.btnTransparent:hover img{
    filter: brightness(0) invert(1);
}
.btnBlack{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.btnBlack:hover{
    background-color: transparent;
}
.btnBlack img{
    filter: brightness(0) invert(1);
}
.btnBlack2{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.btnBlack2:hover{
    scale: 1.1;
}
.btnBlack2 img{
    filter: brightness(0) invert(1);
}
.fnt-cat-section{
    margin: 3em auto 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fnt-cat-wrapper{
    width: 100%;
    max-width: 1400px;
}
.fnt-cat-section h2{
    text-align: center;
    font-size: 2.4em;
    color: #1d315a;
    margin-bottom: 0;
}
.fnt-cat-section h2 span{
    color: #ED6227;
}
.fnt-cat-section p{
    font-size: 22px;
    text-align: center;
    margin-bottom: 5em;
    color: #1d315a;
}
.fnt-categories{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 0em;
    margin: auto;
}
.fnt-categories a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s;
}
.fnt-categories a:hover{
    scale: 1.1;
}
.fnt-categories img{
    max-width: 100%;
}
.fnt-categories span{
    font-size: 2em;
    font-weight: bold;
    color: #ccc;
}
.homeVehicles{
    background-color: #ececeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 4em;
}
.homeVehiclesWrapper{
    width: 100%;
    max-width: 1400px;
    position: relative;
}
.homeVehiclesTitle{
    font-size: 2.4em;
    color: #1d315a;
    margin-bottom: 0;
    transform: translateX(-2em);
    opacity: 0;
    transition: all 1s;
}
.homeVehiclesTitle.show{
    transform: translateX(0);
    opacity: 1;
}
.homeVehiclesSubtitle{
    font-size: 22px;
    margin-bottom: 2em;
    color: #1d315a;
    transform: translateX(-2em);
    opacity: 0;
    transition: all 1s;
}
.homeVehiclesSubtitle.show{
    transform: translateX(0);
    opacity: 1;
}
.homeVehiclesButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}

.homeVehiclesVehicles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    color: #1d315a;
    max-width: 100%;
    position: relative;
}
/*
.vehiclesVehiclesCard{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: calc(400px - (4em / 3));
    border: 1px solid #1d315a;
}
.vehiclesVehiclesInfos{
    border-top: none;
    padding: 1em 1.4em;
    gap: 1em;
    display: flex;
    flex-direction: column;
}
.vehiclesVehiclesInfos p{
    line-height: 1.4em;
}
.vehiclesVehiclesEquipments{
    margin: 0;
}
.vehiclesVehiclesGuarantee{
    font-weight: bold;
}
*/
.swiper{
    width: 400px;
    /*height: 240px;*/
    max-width: 100%;
}
.homeVehiclesFlip{
    background-color: transparent;
    width: 100%;
    height: 500px;
    perspective: 1000px;
}
.homeVehiclesCard{
    background-color: white;
    transition: all 0.3s;
    text-decoration: none;
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    transform-style: preserve-3d;
}
.homeVehiclesFlip:hover .homeVehiclesCard{
    transform: rotateY(180deg);
}
.homeVehiclesCard .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    backface-visibility: hidden;
}
.homeVehiclesCard .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background-color: black;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
    color: #ED6227;
}
.homeVehiclesInfos{
    padding: 0 1em 1em 1em;
}
.homeVehiclesLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    text-decoration: none;
    transition: all 0.3s;
    color: #f36b34;
}
.homeVehiclesInfos p{
    line-height: 1.4em;
    letter-spacing: 0.4px;
}
.homeVehiclesStock{
    width: 220px;
    height: 220px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    scale: 10;
    display: none;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
}
.homeVehiclesStock.show{
    opacity: 0.5;
    scale: 1;
}
.homeVehiclesStock .outline{
    width: 100%;
    height: 100%;
    border: 4px solid #f36b34;
    border-radius: 100%;
}
.homeVehiclesStock .inline{
    width: 70%;
    height: 70%;
    border: 4px dashed #f36b34;
    border-radius: 100%;
    position: absolute;
    top: 15%;
    left: 15%;
}
.homeVehiclesStock .text{
    width: 120%;
    position: absolute;
    color: #f36b34;
    border: 4px solid #f36b34;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 10px 0 5px;
    top: 80px;
    left: -20px;
    background: #ececeb;
    transform: rotateZ(-20deg);
    border-radius: 5px;
}
.headerTel a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
.headerTel a::after{
    display: none;
}
.headerTel a img{
    margin-top: -2px;
}
.headerTel a p{
    margin: 0;
    font-size: 0.8em;
    font-weight: 100;
}
.headerTel a p span{
    font-weight: 400;
}

/* ------------------------- */

.vehiclesTop{
    position: relative;
    max-height: calc(100vh - 80px);
    overflow: hidden;
}
.vehiclesTopImg{
    width: 100%;
}
.vehiclesTopOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vehiclesTopWrapper{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.vehiclesTopWrapper h1{
    color: white;
    font-size: 2.4em;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
}
.vehiclesTopWrapper p{
    color: white;
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0;
}
.vehiclesTopButtons{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

/* -------------------------- */

.vehiclesVehicles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 4em;
}
.vehiclesVehiclesWrapper{
    width: 100%;
    max-width: 1400px;
}
.vehiclesVehiclesCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6em;
    color: #1d315a;
}
.vehiclesVehiclesCard{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: calc(400px - (4em / 3));
    border: 1px solid #1d315a;
    height: fit-content;
}
.vehiclesVehiclesCard:nth-child(3n+1){
    justify-self: start;
}
.vehiclesVehiclesCard:nth-child(3n+2){
    justify-self: center;
}
.vehiclesVehiclesCard:nth-child(3n+3){
    justify-self: end;
}
.vehiclesVehiclesInfos{
    padding: 1em 1.4em;
    gap: 1em;
    display: flex;
    flex-direction: column;
}
.vehiclesVehiclesInfos h2{
    margin: 0;
}
.vehiclesVehiclesInfos p{
    line-height: 1.4em;
    letter-spacing: 0.4px;
}
.vehiclesVehiclesDescription{
    margin: 0;
    height: 2.4em;
}
.vehiclesVehiclesEquipments{
    margin: 1em 0 0;
}
.vehiclesVehiclesGuarantee{
    font-weight: bold;
}
#newSwiper{
    width: 50%;
    margin: 0;
    flex: 1;
}
.vehiclesVehiclesNew{
    background-color: #ececeb;
    display: flex;
    flex-direction: row;
    color: #1d315a;
    align-items: center;
    position: relative;
    margin-bottom: 4em;
}
.vehiclesVehiclesNew p{
    letter-spacing: 0.4px;
    line-height: 1.4em;
    margin: 0;
}
.vehiclesVehiclesNew h2{
    margin: 0;
}
.vehiclesVehiclesnewInfos{
    padding: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.vehiclesNew{
    position: absolute;
    top: 0;
    right: 2em;
    color: white;
    background-color: #f36b34;
    text-transform: uppercase;
    padding: 1em 1em 0.6em 1em;
    font-weight: bold;
    font-size: 1.2em;
}
.vehiclesVehiclesnewInfos hr{
    margin: 0;
    height: 1px;
    width: 100%;
    background-color: #1d315a;
    border: none;    
}

/* -------------------------- */

.contactTop{
    position: relative;
    max-height: calc(100vh - 100px);
    overflow: hidden;
}
.contactTopOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactTopWrapper{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 13%;

}
.contactTopWrapper h1{
    color: #1d315a;
    font-size: 2.4em;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
}
.contactTopWrapper p{
    color: #1d315a;
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0;
}

.contactBody{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 80px);
}
.contactContacts{
    width: 50%;
}
.contactDepartements{
    display: flex;
    color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.contactBg1{
    background-color: #ED6227;
    display: flex;
    justify-content: end;
    height: 50%;
    align-items: center;
}
.contactCol1, .contactCol2{
    flex: 1;
    padding: 3% 3% 3% 0;
    max-width: calc(700px - 3%);
    position: relative;
}
.contactBg2{
    background-color: #1d315a;
    display: flex;
    justify-content: end;
    height: 50%;
    align-items: center;
}
.contactCol1 h3, .contactCol2 h3{
    margin-bottom: 5px;
    font-size: 26px;
    position: relative;
    max-width: fit-content;
    animation: contactCol 1s;
}
.contactCol1 h3::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #1d315a;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.contactCol2 h3::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ED6227;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.contactCol1 h4{
    text-transform: uppercase;
    margin: 2em 0 1em;
    color: #1d315a;
    font-size: 24px;
}
.contactCol2 h4{
    text-transform: uppercase;
    margin: 2em 0 1em;
    color: #ED6227;
    font-size: 24px;
}
.contactCol1 h5, .contactCol2 h5{
    margin: 0;
    font-size: 22px;
}
.contactCol1 hr{
    height: 3px;
    width: 150px;
    background-color: #1d315a;
    border: none;
    margin: 0;
}
.contactCol2 hr{
    height: 3px;
    width: 150px;
    background-color: #ED6227;
    border: none;
    margin: 0;
}
.contactCommerce{
    display: flex;
    justify-content: space-between;
    animation: contactCol 1s;
}
.contactCommerce > div{
    flex: 1;
}
.contactCommerce a{
    color: white;
    text-decoration: none;
}
.contactCommerce p{
    font-weight: 100;
    font-size: 18px;
    line-height: 26px;
    margin-top: 7px;
}
.contactLogo{
    width: 130px;
}

#map{
    height: auto;
    width: 50vw;
}
.orange-icon{
    width: 6px;
    height: 6px;
    background-color: #ED6227;
    background-clip: content-box;
    padding: 2px;
    border: 1px solid #ED6227;
}
.orange-icon::after{
    content: '';
    background-color: #ED6227;
    display: block;
    transition: all 0.3s;
    animation: 0.8s ease-in infinite alternate mapPoint;
}
.blue-icon{
    width: 6px;
    height: 6px;
    background-color: #255c97;
    background-clip: content-box;
    padding: 2px;
    border: 1px solid #255c97;
}
.blue-icon::after{
    content: '';
    background-color: #255c97;
    display: block;
    transition: all 0.3s;
    animation: 0.8s ease-in infinite alternate mapPoint;
}
.slick-prev{
    left: 10px !important;
    z-index: 1;
}
.slick-next{
    right: 10px !important;
    z-index: 1 !important;
}
.slick-dots{
    bottom: 10px !important;
}
#contactFrance{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    transform: translate(44%, 50%);
    z-index: 1000;
}
.jass-footer{
    padding: 0.5em 0;
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
}
.jass-home{
    width: 100%;
    height: 100vh;
    background-color: #001f22;
}
.jass-home-content{
    width: 100%;
    height: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
#jass-logo{
    filter: blur(100px);
    transition: all 1s;
}
#jass-form-login{
    height: 0;
    opacity: 0;
    transition: all .5s;
}
#jass-form-login input{
    height: 100%;
}
.jass-btn-outline{
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid #38AECC;
    font-family: "itc-avant-garde-gothic-pro";
    padding: 0.5em;
}
.jass-btn-outline:hover{
    color: black;
    background-color: #38AECC;
}

/* ----------------------- */

.slick-dots li{
    width: 10px !important;
    height: 10px !important;
}
.slick-dots li button{
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #ED6227 !important;
}
.slick-dots li button:before{
    content: '' !important;
    width: 10px !important;
    height: 10px !important;
    background-color: #ED6227 !important;
    border: 1px solid #ED6227 !important;
    opacity: 0 !important;
}
.slick-dots li.slick-active button:before{
    opacity: 1 !important;
}
.slick-prev:before, .slick-next:before{
    color: #ED6227 !important;
}
.headerMenuOpen{
    display: none;
}
.headerLogo img{
    height: 60px;
}


/* MENU BURGER */
#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    transform: scale(0.5);
}
#nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}
/* ---------------- */

/* -------------------- */

.annexes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.annexesWrapper{
    max-width: 1400px;
    padding: 2em 0;
}
.vehiclesImageBig{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    background-color: #000000CC;
}
.vehiclesCloseImg{
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
}
.vehiclesImageBig img{
    max-width: 60%;
    max-height: 70%;
}
.vehiclesImageBig.show{
    display: flex;
}
.swiper-slide{
    position: relative;
}
.vehiclesOpenImg{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
}
.vehiclesForm{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    background-color: #000000CC;
}
.vehiclesForm.show{
    display: flex;
}
#contactForm{
    background-color: white;
    padding: 3em 4em;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
        "a a"
        "b c"
        "d e"
        "f f"
        "g h";
    gap: 1em;
}
#contactForm input{
    border: 2px solid #ED6227;
    border-radius: 5px;
    line-height: 1.8em;
}
#contactForm h2{
    grid-area: a;
    justify-self: center;
    margin: 0;
}
#contact_firstname{
    grid-area: b;
}
#contact_lastname{
    grid-area: c;
}
#contact_email{
    grid-area: d;
}
#contact_tel{
    grid-area: e;
}
#vehiclesFormError{
    grid-area: f;
    justify-self: center;
    opacity: 0;
    transition: all 0.3s;
    color: red;
    font-weight: bold;
}
#vehiclesFormError.show{
    opacity: 1;
}
#contact_submit{
    grid-area: g;
    justify-self: end;
}
#contact_cancel{
    grid-area: h;
}
#contactForm > div{
    display: flex;
    flex-direction: column;
}

.vehiclesList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.vehicleCard{
    display: flex;
    flex-direction: row;
    border: 1px solid #1d315a;
    color: #1d315a;
    text-decoration: none;
    transition: all 0.3s;
}
.vehicleCard:hover{
    scale: 1.02;
}
.vehicleImage{
    max-width: 320px;
    height: 100%;
}
.vehicleImagesShow{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "a a a"
        "a a a"
        "b c d";
}
.vehicleImagesShow > div{
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vehicleImagesShow > div img{
    max-width: unset;
    height: 100%;
}
.vehicleImagesShow .image_0{
    grid-area: a;
}
.vehicleImagesShow .image_1{
    grid-area: b;
}
.vehicleImagesShow .image_2{
    grid-area: c;
}
.vehicleImagesShow .image_3{
    grid-area: d;
}
.slick-dotted.slick-slider{
    margin-bottom: 0 !important;
}
.vehicleInfos{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1em;
}
.vehicleInfos .btn{
    align-self: end;
}
.vehicleTitle h2{
    margin: 0;
}
.vehicleCarac{
    margin: 1em 0;
}
.vehicleCarac .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.vehicleCarac .row > div{
    height: 1em;
}


.vehicleOne{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.vehicleOneImages{
    width: 50%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
}
.vehicleOneImage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    overflow: hidden;
    cursor: zoom-in;
}
.vehicleOneImage img{
    position: absolute;
    max-width: unset;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}
.vehicleOneDetails{
    width: calc(50vw - (100vw - 1400px + 8em) / 2);
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}
.vehicleOneTitle h1{
    font-size: 2.4em;
    margin: 0;
}
.vehicleOneTitle p{
    margin: 0.4em 0;
    font-size: 1.4em;
}
.vehicleOneCaracts{
    font-size: 1.2em;
}
.vehicleOneCaracts .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0.6em 0 0.4em;
}
.vehicleOneCaracts .row > div{
    flex: 1;
}
.vehicleOneEquipments, .vehicleOneGuarantee{
    font-size: 1.2em;
    margin: 1em 0;
    line-height: 1.4em;
}
.vehicleOneEquipments .bold{
    font-weight: bold;
}
.vehicleOneEquipments .light{
    font-weight: 100;
}
.vehicleOneGuarantee{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.vehicleOneGuarantee span{
    padding-top: 0.4em;
}
#vehicleGallery{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
}
#vehicleGallery.show{
    display: flex;
}
#vehicleGallery .slick{
    width: 50%;
}

.vehicleOnePrice{
    position: absolute;
    top: 3rem;
    right: 4rem;
    background-color: #ED6227;
    padding: 0.7em 0.5em 0.5em;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
    border-radius: 5px;
}
.vehicleOneBottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
.vehicleOneBottom .btn{
    min-width: fit-content;
}
.vehicleOneRental{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
}
.vehicleOneRental .small{
    font-size: 0.8em;
    font-weight: 100;
}
.vehiclesFormConfirm{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    line-height: 1.4em;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    gap: 1em;
}

.homeActus{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 4em;
}
.homeActus.hide{
    display: none;
}
.homeActusWrapper{
    width: 100%;
    max-width: 1400px;
}
.homeActusTitle{
    font-size: 2.4em;
    color: #4a6374;
    margin-bottom: 2em;
    text-align: center;
}
.homeActusActus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4em;
}
.homeActusActu{
    display: flex;
    height: calc(100vh - 100px);
    gap: 2em;
    color: #4a6374;
    text-decoration: none;
    position: relative;
}
.homeActusNumber{
    position: absolute;
    left: -0.65em;
    font-size: 5em;
    color: #f2f3f4;
    font-weight: bold;
    transform: rotateZ(-90deg);
    z-index: -1;
}
.homeActusActu:nth-child(odd) .homeActusNumber{
    bottom: -0.2em;
}
.homeActusActu:nth-child(even) .homeActusNumber{
    top: -0.2em;
}
.homeActusActu:hover .homeActusImage img{
    scale: 1.1;
}
.homeActusActu:nth-child(even){
    flex-direction: column-reverse;
}
.homeActusActu:nth-child(odd){
    flex-direction: column;
}
.homeActusContent{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.homeActusContent .btn{
    padding-left: 0;
    color: #ED6227;
    font-size: 0.9em;
    font-weight: bold;
}
.homeActusContentText h3{
    font-size: 2em;
    line-height: 1.2em;
}
.homeActusContentText p{
    line-height: 1.4em;
}
.homeActusImage{
    flex: 5;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeActusImage img{
    position: absolute;
    max-width: unset;
    height: 100%;
    transition: all 0.3s;
}

.actuSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
}
.actuWrapper{
    width: 100%;
    max-width: 1400px;
}
.actuImage{
    height: 20em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.actuImage img{
    width: 100vw;
}
.actuPublishedAt{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
    opacity: 0.6;
}
.actuPublishedAt span{
    margin-top: 0.25em;
}
.actuContent{
    margin-top: 3em;
    font-size: 1.1em;
}

@keyframes mapPoint {
    from {
        width: 12px;
        height: 12px;
        transform: translate(0px, 0px);
    }
    to {
        width: 16px;
        height: 16px;
        transform: translate(-2px, -2px);
    }
}

@keyframes homeTitle {
    from {
        transform: translateX(-2em);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes homeButton {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contactCol {
    from {
        transform: translateX(-2em);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}