{% extends 'base.html.twig' %}

{% block title %}F New Trucks - Confirmation{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <section class="annexes">
        <div class="annexesWrapper">
            <h1>Votre demande a bien été envoyée.</h1>
        </div>
    </section>
{% endblock %}
