<div class="vehiclesFormConfirm">
    <img src={{asset("images/coche.png")}} width=64 height=64>
    <div>Merci pour votre demande<br>Nous vous recontacterons rapidement.</div>
    <div class="btn btnTransparent" onclick="clearForm();"><span>Fermer</span><img src={{ asset('images/orange-arrow.png') }}></div>
</div>
