<section id="fnt-contact" class="fnt-contact">
    <div class="fnt-departements">
        <div class="fnt-col1">
            <div>
                <h3>F NEW TRUCKS 24</h3>
                <div class="fnt-av-commerce">
                    <div class="fnt-av">
                        <h4>Après-vente</h4>
                        <h5>Garage DAL MAS</h5>
                        <p>
                            è route de St-Nexans<br>
                            24100 Bergerac<br>
                            <a href="tel:+33553271414">05 53 27 14 14</a>
                        </p>
                    </div>
                    <div class="fnt-commerce">
                        <h4>Commerce</h4>
                        <h5>Thomas TROUSSARD</h5>
                        <p>
                            <a href="mailto:t.troussard@fnewtrucks.fr">t.troussard@fnewtrucks.fr</a>
                            <br>
                            <a href="tel:+33679813600">06 79 81 36 00</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fnt-col2">
            <div>
                <h3>F NEW TRUCKS 79</h3>
                <div class="fnt-av-commerce">
                    <div class="fnt-av">
                        <h4><span>Après-vente</span><div class="fnt-logo-wrapper"><img src={{asset("images/logo-jaulin.png")}} alt="Garage Jaulin" class="fnt-logo"></div></h4>
                        <h5>Garage JAULIN</h5>
                        <p>
                            11 avenue Charles de Gaulle<br>
                            79400 Saint-Maixent-l’École<br>
                            <a href="tel:+33549056504">05 49 05 65 04</a>
                        </p>
                        
                    </div>
                    <div class="fnt-commerce">
                        <h4>Commerce</h4>
                        <h5>Boris VADELEAU</h5>
                        <p>
                            <a href="mailto:b.vadeleau@fnewtrucks.fr">b.vadeleau@fnewtrucks.fr</a>
                            <br>
                            <a href="tel:+33616334331">06 16 33 43 31</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fnt-col3">
            <div>
                <h3>F NEW TRUCKS 87</h3>
                <div class="fnt-av-commerce">
                    <div class="fnt-av">
                        <h4>Après-vente</h4>
                        <h5>Garage C.E.A.P.L.</h5>
                        <p>
                            10-12 route du Verdoyer<br>
                            87430 Verneuil-sur-Vienne<br>
                            <a href="tel:+33555480483">05 55 48 04 83</a>
                        </p>
                    </div>
                    <div class="fnt-commerce">
                        <h4>Commerce</h4>
                        <h5>Thomas TROUSSARD</h5>
                        <p>
                            <a href="mailto:t.troussard@fnewtrucks.fr">t.troussard@fnewtrucks.fr</a>
                            <br>
                            <a href="tel:+33679813600">06 79 81 36 00</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
