<form method="post" action="{{ path('jass_actus_delete', {'id': actu.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette actu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actu.id) }}">
    <button class="jass-vehicles-button red">suppr</button>
</form>
