{% extends 'base-jass.html.twig' %}

{% block title %}New Actu{% endblock %}

{% block body %}
    <h1>Create new Actu</h1>

    {{ include('jass/actus/_form.html.twig') }}

    <a href="{{ path('jass_actus') }}">back to list</a>
{% endblock %}
