<form method="post" action="{{ path('app_jass_delete', {'id': vehicle.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce véhicule ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicle.id) }}">
    <button class="jass-vehicles-button red">suppr</button>
</form>
