{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}
    <h1>Edit Vehicle</h1>

    {{ include('jass/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_jass_index') }}">back to list</a>

    {{ include('jass/_delete_form.html.twig') }}
{% endblock %}
