{% extends 'base.html.twig' %}

{% block title %}Editer Véhicule{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset("css/jass.css")}}>
{% endblock %}

{% block body %}
<section class="jass-vehicles">
    <div class="jass-vehicles-wrapper">
        <h1>Editer Véhicule</h1>

            {{ include('jass/_form.html.twig') }}

    </div>
</section>
{% endblock %}
